/* @import url('./stylesnull.css'); */

/* Default */

:root {
	--second-family: "Raleway", sans-serif;
	--main-color-title: #2e2f42;
}

.container {
	max-width: 1440px;
	margin: 0 auto;
	background-color: #ffffff;
}

.wrapper {
	width: 1158px;
	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;
}

/* Header */

.logo {
	font-size: 18px;
	font-weight: 700;
	line-height: 1.17;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	font-family: var(--second-family);
}

.logo-part-one {
	color: #4d5ae5;
}

.logo-part-two {
	color: #2e2f42;
}

/* Navigation */

.nav-link {
	color: #2e2f42;
	font-size: 16px;
	font-weight: 500;
}

.contact-link {
	font-size: 16px;
	font-weight: 400;
}

.nav-list .nav-link:hover,
.nav-list .nav-link:focus {
	color: #404bbf;
}

.contact-list .contact-link:hover,
.contact-list .contact-link:focus {
	color: #404bbf;
}

/* Main */

.hero {
	background-color: #2e2f42;
}

.title {
	font-size: 56px;
	line-height: 1.07;
	text-align: center;
	color: #ffffff;
}

.button {
	min-width: 169px;
	height: 56px;
	cursor: pointer;
	padding: 16px 22px;
	border-radius: 4px;

	color: #ffffff;
	font-weight: 500;
	letter-spacing: 0.04em;

	background-color:  #4d5ae5;
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

/* Section#1 Our advantages
.subtitle <<-- for #1, #2, #3 sections*/

.section-features {
	background-color: #ffffff;
}

.subtitle {
	font-size: 20px;
	font-weight: 500;
	line-height: 1.2;
	color: var(--main-color-title);
}

/* Section#2 Our Team
.section-title <<-- for #2, #3 sections*/

.section-team {
	background-color: #f4f4fd;
}

.section-title {
	font-size: 36px;
	line-height: 1.11;
	text-align: center;
	color: var(--main-color-title);
}

/* Section#3 Our Portfolio*/

.section-portfolio {
	background-color: #ffffff;
}

/* Footer */

.footer {
	background-color:  #2e2f42;
}

.footer .logo-part-two {
	color: #f4f4fd;
}

.text-info {
	color: #f4f4fd;
}